.main {
  position: relative;
  top: 200px;
  margin: auto;
}

input {
  text-align: center;
  margin: auto;
  border: none;
  border-bottom: 2px solid #3F51B5;
  width: 310px;
  height: 40px;
  color: #606060;
  position: relative;
  bottom: -126px;
  left: 100px;
  font-size: 18px;
  padding-left: 5px;
  transition: 0.8s;
  &:hover {
    border-bottom-color: #FF4081;
  }
}

#base {
  position: relative;
  top: 170px;
  z-index: 15;
}

input:focus, button:focus {
  outline: none;
}


.solutions {
  position: relative;
  top: 80px;
  left: 140px;
  img {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: -100px;
    left: 170px;
    z-index: 20;
    //display: none;
  }
  #conv_sol {
    text-align: center;
    position: relative;
    top: 235px;
    left: -30px;
    width: 300px;
    border-bottom: 2px solid $primary;
    padding: 5px;
    font-size: 18px;
    color: $shadow;
  }
}

button {
  position: relative;
  left: -81px;
  top: 290px;
  margin: auto;
  border: none;
  color: white;
  font-size: 22px;
  background: #3F51B5;
  border-radius: 100%;
  width: 55px;
  height: 55px;
  &:hover {
      background: #FF4081;
      transition: 0.7s;
  }
  img {
      padding-top: 5px;
      width: 32px;
      height: 32px;
  }
}