#inmultire_tab {
  #inputInmutire {
    height: 400px;
  }
  input {
    position: relative;
    left: 90px;
    border-bottom-color: #03A9F4;
    &:hover {
      border-bottom-color: #FFC107;
    }
  }
  button {
    position: relative;
    top: 235px;
    left: -101px;
    background: #FFC107;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    &:hover {
      background: #0288D1;
      transition: 0.7s;
    }
    img {
      padding-top: 5px;
      width: 32px;
      height: 32px;
      transition: 0.7s;
    }
  }
  .presol_inm {
    transition: 0.8s;
    color: $shadow;
    font-size: 20px;
    position: relative;
    top: 65px;
  }

  #rezultatulInmultirii {
    font-size: 20px;
    color: $shadow;
    width: 300px;
    border-bottom: 2px solid #03A9F4;
    position: relative;
    bottom: -15px;
    left: 230px;
    text-align: center;
  }
}