#radical_tab {
  #inputRadical {
    height: 400px;
  }
  input {
    position: relative;
    left: 90px;
    border-bottom-color: #607D8B;
    &:hover {
      border-bottom-color: #FF5722;
    }
  }
  button {
    position: relative;
    top: 205px;
    left: -101px;
    background: #FF5722;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    &:hover {
      background: #455A64;
      transition: 0.7s;
    }
    img {
      padding-top: 5px;
      width: 32px;
      height: 32px;
    }
  }
  .presol_rad {
    transition: 0.8s;
    color: $shadow;
    font-size: 20px;
    position: relative;
    top: 45px;
  }

  #SecondNumberR {
    position: relative;
    bottom: -80px;
  }

  #rezultatulRadicalului {
    font-size: 20px;
    color: $shadow;
    width: 300px;
    border-bottom: 2px solid #FF5722;
    position: relative;
    top: 1px;
    left: 230px;
    text-align: center;
  }
}
