$primary: #FF4081;
$light_primary: #FFCDD2;
$accent: #304FFE;
$light: #1308b9;
$shadow: #3d4754;
$hover: #3F51B5;
$border_hover: $accent;
$button: #455a64;

$adunare: #FF5722;
$adunare_accent: #18FFFF;
$hover_adunare: #00E676;

$scadere: #D50000;
$scadere_accent: #304FFE;
$hover_scadere: #3F51B5;

$inmultire: #009688;
$inmultire_accent: #FF4081;
$hover_inmultire: #FF1744;

$impartire: #FFC107;
$impartire_accent: #673AB7;
$hover_impartire: #311B92;

$radical: #E91E63;
$radical_accent: #76FF03;
$hover_radical: #64DD17;

$putere: #00dc00;
$putere_accent: #00BCD4;
$hover_putere: #304FFE;