#adunare_tab {
  #inputAdunare {
    height: 400px;  
  }
  input {
    position: relative;
    left: 90px;
    border-bottom: 2px solid #FF5722;
    &:hover {
      border-bottom-color: $adunare_accent;
    }
  }
  button {
    top: 235px;
    left: -101px;
    background: $button;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    box-shadow: 0 2px 8px $shadow;
    &:hover {
      background: #00E676;
      transition: 0.7s;
    }
    img {
      padding-top: 5px;
      width: 32px;
      height: 32px;
    }
  }
  .presol_add {
    transition: 0.8s;
    color: $shadow;
    font-size: 20px;
    position: relative;
    top: 65px;
  }

  #rezultatulAdunarii {
    font-size: 20px;
    color: $shadow;
    width: 300px;
    border-bottom: 2px solid $adunare;
    position: relative;
    bottom: -15px;
    left: 230px;
    text-align: center;
  }
}
