.main {
  position: relative;
  top: 200px;
  margin: auto;
}

input {
  text-align: center;
  margin: auto;
  border: none;
  border-bottom: 2px solid $primary;
  width: 310px;
  height: 50px;
  color: #606060;
  position: relative;
  bottom: -126px;
  left: 40px;
  font-size: 20px;
  padding-left: 5px;
  background: $light;
  transition: 0.8s;
  &:hover {
    border-bottom-color: $border_hover;
  }
}

#base {
  position: relative;
  top: 200px;
  z-index: 15;
}

input:focus, button:focus {
  outline: none;
}


.solutions {
  position: relative;
  top: 120px;
  left: 80px;
  img {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: -100px;
    left: 170px;
    z-index: 20;
    //display: none;
  }
  #conv_sol {
    text-align: center;
    position: relative;
    top: 235px;
    left: -30px;
    width: 300px;
    border-bottom: 2px solid $primary;
    padding: 5px;
    font-size: 20px;
    color: $shadow;
  }
}

button {
  position: relative;
  left: -150px;
  top: 320px;
  border-radius: 5px;
  margin: auto;
  border: none;
  color: white;
  font-size: 22px;
  background: $button;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  box-shadow: 0 2px 8px $shadow;
  &:hover {
      background: #00E676;
      transition: 0.7s;
  }
  img {
      padding-top: 5px;
      width: 32px;
      height: 32px;
  }
  &:hover {
    background: $hover;
    transition: 0.5s;
  }
}

.conversie_tab {
  position: relative;
  left: -5000px;
}