#impartire_tab {
  #inputImpartire {
    height: 400px;
  }
  input {
    position: relative;
    left: 90px;
    border-bottom-color: #F44336;
    &:hover {
      border-bottom-color: #9E9E9E;
    }
  }
  button {
    position: relative;
    top: 235px;
    left: -101px;
    background: #9E9E9E;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    &:hover {
      background: #D32F2F;
      transition: 0.7s;
    }
    img {
      padding-top: 5px;
      width: 32px;
      height: 32px;
    }
  }
  .presol_imp {
    transition: 0.8s;
    color: $shadow;
    font-size: 20px;
    position: relative;
    top: 65px;
  }

  #rezultatulImpartirii {
    font-size: 20px;
    color: $shadow;
    width: 300px;
    border-bottom: 2px solid #F44336;
    position: relative;
    bottom: -15px;
    left: 230px;
    text-align: center;
  }
}
