@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css?family=Arimo");
#teme {
  margin: auto;
  position: relative;
  top: 100px; }
  #teme ul {
    list-style-type: none;
    float: left; }
    #teme ul li {
      font-size: 20px;
      padding: 15px;
      cursor: pointer; }
  #teme .red {
    color: #D50000; }
  #teme .yellow {
    color: #FFC107; }
  #teme .blue {
    color: #304FFE; }

img.putere {
  width: 28px;
  height: 28px; }

#menu {
  z-index: 9;
  width: 80px;
  height: 900px;
  position: absolute;
  top: 160px;
  left: 5px; }
  #menu ul {
    list-style-type: none;
    position: relative;
    right: 40px; }
    #menu ul li {
      color: white;
      font-size: 18px;
      text-align: center; }
      #menu ul li img {
        width: 28px;
        height: 28px;
        z-index: 11;
        padding: 17px; }
        #menu ul li img.putere {
          width: 20px;
          height: 20px;
          padding: 20.5px; }
      #menu ul li #conversie {
        z-index: 11; }

#alte_informatii {
  width: 100%;
  height: 700px;
  background: #000000;
  position: absolute;
  top: 750px;
  z-index: 11;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold; }

.card {
  width: 95%;
  height: 200px;
  margin: auto;
  position: relative;
  bottom: -150px;
  font-family: 'Open Sans', sans-serif; }
  .card a {
    text-decoration: none;
    color: white; }
  .card h2 {
    padding-left: 20px;
    color: white; }
  .card .content, .card .card_info {
    width: 95%;
    height: auto;
    padding: 20px;
    color: #e2e2e2;
    float: left;
    font-weight: 100; }

.main {
  position: relative;
  top: 200px;
  margin: auto; }

input {
  text-align: center;
  margin: auto;
  border: none;
  border-bottom: 2px solid #3F51B5;
  width: 310px;
  height: 50px;
  color: #606060;
  position: relative;
  bottom: -126px;
  left: 40px;
  font-size: 20px;
  padding-left: 5px;
  transition: 0.8s; }
  input:hover {
    border-bottom-color: #FF4081; }

#base {
  position: relative;
  top: 200px;
  z-index: 15; }

input:focus, button:focus {
  outline: none; }

.solutions {
  position: relative;
  top: 120px;
  left: 80px; }
  .solutions img {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: -100px;
    left: 170px;
    z-index: 20; }
  .solutions #conv_sol {
    text-align: center;
    position: relative;
    top: 235px;
    left: -30px;
    width: 300px;
    border-bottom: 2px solid #FF4081;
    padding: 5px;
    font-size: 20px;
    color: #3d4754; }

button {
  position: relative;
  left: -150px;
  top: 320px;
  margin: auto;
  border: none;
  color: white;
  font-size: 22px;
  background: #3F51B5;
  border-radius: 100%;
  width: 60px;
  height: 60px; }
  button:hover {
    background: #FF4081;
    transition: 0.7s; }
  button img {
    padding-top: 5px;
    width: 32px;
    height: 32px; }

.conversie_tab {
  position: relative;
  left: -5000px; }

#adunare_tab #inputAdunare {
  height: 400px; }
#adunare_tab input {
  position: relative;
  left: 90px;
  border-bottom: 2px solid #FFC107; }
  #adunare_tab input:hover {
    border-bottom-color: #607D8B; }
#adunare_tab button {
  top: 235px;
  left: -101px;
  background: #607D8B;
  border-radius: 100%;
  width: 60px;
  height: 60px; }
  #adunare_tab button:hover {
    background: #FFA000;
    transition: 0.7s; }
  #adunare_tab button img {
    padding-top: 5px;
    width: 32px;
    height: 32px; }
#adunare_tab .presol_add {
  transition: 0.8s;
  color: #3d4754;
  font-size: 20px;
  position: relative;
  top: 65px; }
#adunare_tab #rezultatulAdunarii {
  font-size: 20px;
  color: #3d4754;
  width: 300px;
  border-bottom: 2px solid #607D8B;
  position: relative;
  bottom: -15px;
  left: 230px;
  text-align: center; }

#scadere_tab #inputScadere {
  height: 400px; }
#scadere_tab input {
  position: relative;
  left: 90px;
  border-bottom-color: #009688; }
  #scadere_tab input:hover {
    border-bottom-color: #FF4081; }
#scadere_tab button {
  position: relative;
  top: 235px;
  left: -101px;
  background: #FF4081;
  border-radius: 100%;
  width: 60px;
  height: 60px; }
  #scadere_tab button:hover {
    background: #00796B;
    transition: 0.7s; }
  #scadere_tab button img {
    padding-top: 5px;
    width: 32px;
    height: 32px; }
#scadere_tab .presol_sub {
  transition: 0.8s;
  color: #3d4754;
  font-size: 20px;
  position: relative;
  top: 65px; }
#scadere_tab #rezultatulScaderii {
  font-size: 20px;
  color: #3d4754;
  width: 300px;
  border-bottom: 2px solid #00796B;
  position: relative;
  bottom: -15px;
  left: 230px;
  text-align: center; }

#inmultire_tab #inputInmutire {
  height: 400px; }
#inmultire_tab input {
  position: relative;
  left: 90px;
  border-bottom-color: #03A9F4; }
  #inmultire_tab input:hover {
    border-bottom-color: #FFC107; }
#inmultire_tab button {
  position: relative;
  top: 235px;
  left: -101px;
  background: #FFC107;
  border-radius: 100%;
  width: 60px;
  height: 60px; }
  #inmultire_tab button:hover {
    background: #0288D1;
    transition: 0.7s; }
  #inmultire_tab button img {
    padding-top: 5px;
    width: 32px;
    height: 32px;
    transition: 0.7s; }
#inmultire_tab .presol_inm {
  transition: 0.8s;
  color: #3d4754;
  font-size: 20px;
  position: relative;
  top: 65px; }
#inmultire_tab #rezultatulInmultirii {
  font-size: 20px;
  color: #3d4754;
  width: 300px;
  border-bottom: 2px solid #03A9F4;
  position: relative;
  bottom: -15px;
  left: 230px;
  text-align: center; }

#impartire_tab #inputImpartire {
  height: 400px; }
#impartire_tab input {
  position: relative;
  left: 90px;
  border-bottom-color: #F44336; }
  #impartire_tab input:hover {
    border-bottom-color: #9E9E9E; }
#impartire_tab button {
  position: relative;
  top: 235px;
  left: -101px;
  background: #9E9E9E;
  border-radius: 100%;
  width: 60px;
  height: 60px; }
  #impartire_tab button:hover {
    background: #D32F2F;
    transition: 0.7s; }
  #impartire_tab button img {
    padding-top: 5px;
    width: 32px;
    height: 32px; }
#impartire_tab .presol_imp {
  transition: 0.8s;
  color: #3d4754;
  font-size: 20px;
  position: relative;
  top: 65px; }
#impartire_tab #rezultatulImpartirii {
  font-size: 20px;
  color: #3d4754;
  width: 300px;
  border-bottom: 2px solid #F44336;
  position: relative;
  bottom: -15px;
  left: 230px;
  text-align: center; }

#radical_tab #inputRadical {
  height: 400px; }
#radical_tab input {
  position: relative;
  left: 90px;
  border-bottom-color: #607D8B; }
  #radical_tab input:hover {
    border-bottom-color: #FF5722; }
#radical_tab button {
  position: relative;
  top: 235px;
  left: -101px;
  background: #FF5722;
  border-radius: 100%;
  width: 60px;
  height: 60px; }
  #radical_tab button:hover {
    background: #455A64;
    transition: 0.7s; }
  #radical_tab button img {
    padding-top: 5px;
    width: 32px;
    height: 32px; }
#radical_tab .presol_rad {
  transition: 0.8s;
  color: #3d4754;
  font-size: 20px;
  position: relative;
  top: 65px; }
#radical_tab #rezultatulRadicalului {
  font-size: 20px;
  color: #3d4754;
  width: 300px;
  border-bottom: 2px solid #FF5722;
  position: relative;
  bottom: -15px;
  left: 230px;
  text-align: center; }

#ridicare_putere_tab #inputputere {
  height: 400px; }
#ridicare_putere_tab input {
  position: relative;
  left: 90px;
  border-bottom-color: #00BCD4; }
  #ridicare_putere_tab input:hover {
    border-bottom-color: #FF9800; }
#ridicare_putere_tab button {
  position: relative;
  top: 235px;
  left: -101px;
  background: #FF9800;
  border-radius: 100%;
  width: 60px;
  height: 60px; }
  #ridicare_putere_tab button:hover {
    background: #0097A7;
    transition: 0.7s; }
  #ridicare_putere_tab button img {
    padding-top: 5px;
    padding-left: 3px;
    width: 24px;
    height: 24px; }
#ridicare_putere_tab .presol_pow {
  transition: 0.8s;
  color: #3d4754;
  font-size: 20px;
  position: relative;
  top: 65px; }
#ridicare_putere_tab #rezultatulRidicarii {
  font-size: 20px;
  color: #3d4754;
  width: 300px;
  border-bottom: 2px solid #00BCD4;
  position: relative;
  bottom: -15px;
  left: 230px;
  text-align: center; }

#adunare_info {
  background: #0050ef; }

.content_info {
  color: white;
  padding: 0;
  width: 280px;
  margin: auto;
  font-family: 'Arimo', sans-serif;
  font-size: 18px; }

.card_info {
  padding: 0;
  position: relative;
  top: 80px; }

h3 {
  color: white;
  position: relative;
  top: 60px;
  text-align: center; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  max-height: 720px;
  min-width: 900px; }

#wrapper {
  min-width: 1200px; }

header {
  min-width: 700px;
  width: 100%;
  height: 160px;
  position: absolute;
  top: 0;
  box-shadow: 0 0 10px #464646;
  z-index: 20; }
  header img {
    position: absolute;
    right: 20px;
    top: 90px;
    float: right;
    z-index: 30;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    padding: 10px; }
  header nav {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0; }
    header nav ul {
      list-style-type: none;
      text-align: right;
      margin-right: 40px; }
      header nav ul li {
        display: inline; }
        header nav ul li a {
          text-decoration: none;
          padding: 0 10px 0 10px; }
  header h1 {
    color: white;
    text-align: left;
    margin-left: 50px;
    padding-bottom: 25px;
    display: none;
    padding-top: 80px; }

.conversie_tab {
  width: 80%;
  height: auto;
  margin: auto; }

#adunare_tab, #scadere_tab, #inmultire_tab, #impartire_tab, #radical_tab, #ridicare_putere_tab, #setari_tab, .conversie_tab {
  width: 550px;
  height: 650px;
  position: absolute;
  top: 100px;
  left: 200px;
  display: none;
  z-index: 8; }

.spacer {
  padding: 40px; }

footer {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0; }
  footer p {
    color: #ececec;
    font-weight: bold;
    text-align: center; }

#adunare_info, #scadere_info, #inmultire_info, #impartire_info, #radical_info, #putere_info, #conversie_info {
  width: 350px;
  height: 950px;
  background: #9C27B0;
  position: absolute;
  top: 140px;
  right: 5px;
  z-index: 8;
  display: none; }

/*# sourceMappingURL=main.css.map */
